<div class="table-responsive">
<table class="table table-hover clients-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Rating</th>
            <th>Last Contact</th>
        </tr>
    </thead>
    <tbody>
        {{#clients}}
        <tr class="clickable" data-url="/clients/{{_id}}/details">
            <td>{{name_first}} {{name_last}}</td>
            <td>{{rating}}</td>
            <td>{{date_last_contact_formatted}}</td>
        </tr>
        {{/clients}}
    </tbody>
</table>
</div>
