<h2>{{name_first}} {{name_last}}
    <a href="/clients/{{_id}}/update"><i class="fa fa-pencil"></i></a></h2>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <div><label>Email: </label> {{email}}</div>
                <div><label>Phone: </label> {{formatPhone phones.0.number}}</div>
                <div><label>Rating: </label> {{rating}}</div>
                <div><label>Categories: </label> {{categories}}</div>
                <div><label>Next Contact: </label> {{formatDate remind_me "MM/DD/YYYY hhA"}}</div>
            </div>
            <div class="col-md-4">
                <div><label>Spouse: </label> {{spouse}}</div>
                <div><label>Spouse #: </label> {{formatPhone spouse_phone}}</div>
                <div><label>Referral: </label> {{referral}}</div>
                <div><label>Address1: </label> {{address1}}</div>
                <div><label>Address2: </label> {{address2}}</div>
                <div><label>City: </label> {{city}}</div>
                <div><label>State: </label> {{state}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <label>Notes: </label> {{{formatRich notes}}}
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">Contact History &amp; Comments</div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8">
                {{> activities/form}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{> activities/list}}
            </div>
        </div>
    </div>
</div>
